/* 

.tabs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: 1px solid #CDA274;
    border-radius: 18px;
    max-width: 880px;
    margin: 0 auto 60px;
    padding: 0 4.8vw;
    box-sizing: border-box;
}

.tab-link {
    font-size: 18px;
    font-weight: 600;
    padding: 26px 0;
    color: #292F36;
    border: none;
    background-color: transparent;
    cursor: pointer;
    border-radius: 18px;
}

.tab-link.active {
    color: #FFF;
    background-color: #CDA274;
}

.tab-content {
    display: none;
    animation: fading .5s;
}

@keyframes fading {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.tab-content__box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.tab-content__thumb {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 522px;
}

.tab-content__thumb img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}



.thumb {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 356px;
}

.thumb__img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: -1;
}

.thumb__info {
    text-align: center;
    background-color: #FFF;
    border-radius: 37px 37px 0 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 503px;
    margin: 0 auto;
    padding-top: 41px;
    padding-bottom: 41px;
}

.thumb__title {
    margin-bottom: 0;
}

.breadcrumbs {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 28px;
}

.breadcrumbs>li>a {
    color: #4D5053;
    text-decoration: none;
    transition: .2s;
}

.breadcrumbs>li>a:hover {
    color: #CDA274;
}

.breadcrumbs>li {
    position: relative;
}

.breadcrumbs>li::after {
    content: '/';
    position: absolute;
    right: -20px;
}

.breadcrumbs>li:last-child:after {
    display: none;
}


 */
