* {
    box-sizing: border-box;
}

.portfolio__container {
    max-width: 1200px;
    margin: 0 auto;
}

.portfolio--sect {
    max-width: 880px;
    height: 75px;
    border: 1px solid #CDA274;
    border-radius: 18px;
    margin: 0 auto;
    margin-bottom: 60px;
}

.tabs {
    display: flex;
    justify-content: center;
}

.portfolio__select--link {
    padding: 25px 0;
    width: 218px;
    text-decoration: none;
    color: #292F36;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    border: none;
}

.portfolio__select--link:first-child {
    border-radius: 0 0 0 18px;
}

.portfolio__select--link:last-child {
    border-right: 18px;
} 

.active {
    background-color: #CDA274;
    color: white;
}

.portfolio__image--box {
    max-width: 1200px;
    display: grid;
    grid-template-columns: 585px 585px;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 30px;
    column-gap: 30px;
    margin-bottom: 214px;
}

.portfolio__img {
    max-width: 585px;
}