.page__container {
    max-width: 1200px;
    margin: 0 auto;
  }

.content {
    display: grid;
    grid-template-columns: 1fr 345px;
    gap: 52px;
}

.widget__title {
    font-size: 25px;
    line-height: 1.25;
    font-family: "DM Serif Display", serif;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    font-weight: 400;
    color: #292F36;
    margin: 0;
}

.widget {
    margin-top: 50px;
    margin-bottom: 50px;
}

.search__area {
    position: relative;
}

.search-area__input {
    width: 100%;
    background-color:#F4F0EC;
    border: none;
    font-family: "Jost", sans-serif;
    font-size: 22px;
    border: 1px solid #F4F0EC;
    border-radius: 20px;
    padding: 34px 65px 34px 34px;
    transition: .3s;
    box-sizing: border-box;
}

.search-area__input:focus {
    outline: none;
}

.search-area__input::placeholder {
    color: #CDA274;
}

.search-area__button {
    position: absolute;
    right: 33px;
    top: calc(50% - 13.5px);
    display: block;
    width: 27px;
    height: 27px;
    background-color: transparent;
    background-image: url(../frontendblok/img/search-btn.svg);
    background-repeat: no-repeat;
    background-position: center center;
    border: none;
    cursor: pointer;
}

.post-recent__title {
    font-size: 20px;
    line-height: 25px;
    font-family: "DM Serif Display", serif;
    letter-spacing: 2%;
    font-weight: 400;
    color: #292F36;
    margin: 0;
    max-width: 197px;
    margin-top: 33px ;
}

.post-recent__date {
    margin-top: 5px;
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1%;
    margin-left: 244px;
    margin-bottom: 6px;
}

.post-recent {
    border-bottom: 1px solid #CDA274;
}

.widget-category {
    background-color: #F4F0EC;
    border-radius: 20px;
    padding: 27px 32px;
}

.category-list {
    padding-left: 0;
    list-style-type: none;
}

.caterogy__item {
    padding-top: 27px;
    padding-bottom: 27px;
    border-bottom: 1px solid #CDA274;
}

.category__item:last-of-type {
    padding-bottom: 0;
    border: none;
}

.caterogy__link {
    text-decoration: none;
    color: inherit;
    transition: .3s;
}

.category__link:hover {
    color: #CDA274;
}

.tags-list {
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
    gap: 11px 10px;
    margin-top: 24px;
}

.tags-list > a {
    color: inherit;
    text-decoration: none;
    padding: 9px 30px;
    border-radius: 10px;
    background-color: #F4F0EC;
    transition: .3s;
}

.tags-list > a:hover {
    color: #FFF;
    background-color: #292F36;
}

.author {
    border-top: 1px solid #e5e5e5;
    padding-top: 50px;
    margin-top: 50px;
}

.author__head {
    display: flex;
    align-items: center;
    gap: 32px;
}

.author__thumb {
    flex-basis: 70px;
    height: 70px;
    position: relative;
    overflow: hidden;
    border-radius: 100%;
}

.author__img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.author__content {
    flex-grow: 1;
}


.author__name {
    font-size: 30px;
    line-height: 1.2;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    color: #292F36;
    margin-top: 0;
    margin-bottom: 0;
}

.author__text {
    margin-top: 50px;
}

.post-header h1 {
    font-size: 50px;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    margin-bottom: 21px;
}

.post figure {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 365px;
    border-radius: 50px;
    margin: 44px 0;
}

.post figure img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.post blockquote {
    font-size: 25px;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: italic;
    line-height: 1.25;
    letter-spacing: 0.02em;
    text-align: center;
    color: #CDA274;
    background-color: #F4F0EC;
    border-radius: 50px;
    padding: 50px 100px;
    margin-left: 0;
    margin-right: 0;
    position: relative;
    margin-top: 35px;
    margin-bottom: 56px;
}

.post blockquote::before {
    content: "";
    background-image: url(img/blockquote.svg);
    background-size: cover;
    display: block;
    width: 72px;
    height: 54px;
    margin: 0 auto 30px;
}

.post__date {
    display: block;
    font-size: 16px;
    margin-top: 46px;
    margin-bottom: 48px;
}

.post__thumb {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 540px;
    border-radius: 50px;
    margin: 44px 0;
}

.post__thumb img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.post p {
    font-size: 22px;
    font-weight: 400;
    color: #4D5053;
}

.p-1 {
    margin-bottom: 15px;
}

/* .post h2 {
    font-size: 50px;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    margin-bottom: 21px;
} */

.post ul,
.post ol {
    padding-left: 0;
    list-style-type: none;
    margin-top: 24px;
    margin-bottom: 24px;
    color: #4D5053;
}

.post ol {
    counter-reset: item;
}

.post ol > li {
    position: relative;
    padding-left: 20px;
}

.post ol > li::before {
    content: "";
    content: counter(item);
    counter-increment: item;
    font-family: "DM Serif Display", serif;
    color: #CDA274;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 400;
    position: absolute;
    top: 12px;
    left: 0;
}

.post ol > li + li {
    margin-top: 32px;
}

.post-tags {
    border-top: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 44px 0;
    margin-bottom: 93px;
}

.p-last {
    margin-bottom: 62px;
}

.tags__box {
    display: flex;
    gap: 20px;
    align-items: center;
}

.social__box {
    display: flex;
    gap: 54px;
    margin-right: 5px;
}

.tags__item--kitchan {
    background-color: #292F36;
    color: white;
    padding: 13px 22px;
    border-radius: 10px;
}

.tags__item--bedroom {
    background-color: #F4F0EC;
    color: #292F36;
    padding: 13px 22px;
    border-radius: 10px;
}

.tags {
    font-size: 25px;
    color: #000000;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
}

.post__box {
    display: grid;
    grid-template-columns: repeat(2, 380px);
    grid-template-rows: 45px 45px 175px;
    grid-template-areas:
      "name mail"
      "web tel"
      "texts texts";
    row-gap: 50px;
    column-gap: 25px;
}

.post__name {
    grid-area: name;
}

.post__email {
   grid-area: mail; 
}

.post__website {
    grid-area: web; 
}

.post__tel {
    grid-area: tel;
}

.post__textbox {
    grid-area: texts;
    resize: none;
    font-family: "Jost", sans-serif;
    color: #4D5053;
    font-size: 22px;
    margin-bottom: 36px;
}

.post__input {
    border: none;
    border-bottom: 1px solid #000000;
}

.post__input::placeholder {
    font-size: 22px;
    color: #4D5053;
    line-height: 33px;
}

.post__input:focus {
    outline: none;
}

.form__title {
    margin-bottom: 56px;
}

.post__label {
    font-size: 18px;
    color: #CDA274;
    margin-bottom: 63px;
}

.post_checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;

}

.post_checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }
.post_checkbox+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #CDA274;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }

.post_checkbox:checked+label::before {
    background-color: #CDA274;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
  }

.post_checkbox:disabled+label::before {
    background-color: white;
  }

.post__btn {
    background-color: #292F36;
    color: #FFFFFF;
    padding: 26px 54px;
    border-radius: 18px;
    font-size: 18px;
    font-family: "Jost", sans-serif;
    outline: none;
    cursor: pointer;
}